<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .heading{
            color: white;
            background-color: black;
            padding-left: 20%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .contain{
            padding-left: 20%;
            padding-top: 5%;
            /*background-color: #cccccc; */
        }
        ul{
            list-style: none;
        }
        p{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body >
    <h1 class="heading">TECHNICAL QUIZ ROUND</h1>
    <ol  class="contain">
        <li><p>Of the following Indian satellites, which on is intended for long-distance telecommunications for transmitting TV programs?</p>
            <ul>
            <li><input type="radio" class="answers" name="answer1">Aryabhatta</li>
            <li><input type="radio" class="answers" name="answer1">INSAT – A</li>
            <li><input type="radio" class="answers" name="answer1">Rohini</li>
            <li><input type="radio" class="answers" name="answer1">Bhaskara</li>
            </ul>
        </li><br>
        <li>
                <p>What is the standard length of MAC address:</p>
                <ul>
                    <li><input type="radio" class="answers" name="answer2">16 bits</li>
                    <li><input type="radio" class="answers" name="answer2">32 bits</li>
                    <li><input type="radio" class="answers" name="answer2">48 bit</li>
                    <li><input type="radio" class="answers" name="answer2">64 bits</li>
                </ul>
        </li><br>
        <li>
                <p>A Denial of Service attack is:</p>
                <ul>
                    <li><input type="radio" class="answers" name="answer3">Connection flooding</li>
                    <li><input type="radio" class="answers" name="answer3">Bandwidth flooding</li>
                    <li><input type="radio" class="answers" name="answer3">All of the mentioned</li>
                    <li><input type="radio" class="answers" name="answer3">Vulnerability attack</li>
                </ul>
        </li><br>
        <li>
                <p>What does CDN stands for __________________? </p>
                <ul>
                    <li><input type="radio" class="answers" name="answer4">Call Delivery Network</li>
                    <li><input type="radio" class="answers" name="answer4">Computer Delay Network</li>
                    <li><input type="radio" class="answers" name="answer4">Call Delay Network</li>
                    <li><input type="radio" class="answers" name="answer4">Content Delivery Network</li>
                </ul>
        </li><br>
        <li>
                <p>Who was one of the winners of the Turing Award of 2019?</p>
                <ul>
                    <li><input type="radio" class="answers" name="answer5">Whitefield Diffie</li>
                    <li><input type="radio" class="answers" name="answer5">Peter Naur</li>
                    <li><input type="radio" class="answers" name="answer5">Ramanathan V Guha</li>
                    <li><input type="radio" class="answers" name="answer5">Geoffrey Hinton</li>
                </ul>
        </li><br>
        <li>
                <p>Select the correct output of the c program in the the16-bit operating system
 
                      <br> #include<stdio.h> </br>
                     <br> int main() </br>
              <br>  {   <br>
                        <br>   printf("%x", -1<<1);</br>
                          <br> getchar();  </br>
                          <br> return 0;    </br>
                                  <br>         }  </br>
</p>
                <ul>
                    <li><input type="radio" class="answers" name="answer6">fffe</li>
                    <li><input type="radio" class="answers" name="answer6">2</li>
                    <li><input type="radio" class="answers" name="answer6">-2</li>
                    <li><input type="radio" class="answers" name="answer6">Bbba</li>
                </ul> 
        </li><br>
        <li>
            <p>The performance of a supercomputer is measured in...</p>
            <ul>
                <li><input type="radio" class="answers" name="answer7">floating-point operations per second</li>
                <li><input type="radio" class="answers" name="answer7">million instructions per second</li>
                <li><input type="radio" class="answers" name="answer7">kilobits per second</li>
                <li><input type="radio" class="answers" name="answer7">megabits per second</li>
            </ul>
        </li><br>
        <li>
                <p>A service that concentrates on hardware follows the _________ as a Service model. </p>
                <ul>
                    <li><input type="radio" class="answers" name="answer8">IaaS</li>
                    <li><input type="radio" class="answers" name="answer8">CaaS</li>
                    <li><input type="radio" class="answers" name="answer8">PaaS</li>
                    <li><input type="radio" class="answers" name="answer8">SaaS</li>
                </ul>
                
                
                
                
        </li><br>
        <li>
                <p>What is the size of the Unicode character in the Windows Operating System?</p>
                <ul>
                    <li><input type="radio" class="answers" name="answer9">8-Bits</li>
                    <li><input type="radio" class="answers" name="answer9">16-Bits</li>
                    <li> <input type="radio" class="answers" name="answer9">32-Bits</li>
                    <li><input type="radio" class="answers" name="answer9">64 Bits</li>
                </ul>
        </li><br>
        <li>
                <p>Currently the fastest CPU in the world for a laptop ?</p>
                <ul>
                    <li><input type="radio" class="answers" name="answer10">AMD's Threadripper(TR) 2990WX</li>
                    <li><input type="radio" class="answers" name="answer10">Intel Core i9-9900KS</li>
                    <li><input type="radio" class="answers" name="answer10">AMD Ryzen 9 3900X</li>
                    <li><input type="radio" class="answers" name="answer10">Intel Pentium G4560</li>
                </ul>
          
        </li><br>
        <li>
                <p>Which of the following computer language is used for artificial intelligence?</p>
                <ul>
                    <li><input type="radio" class="answers" name="answer11">FORTRAN</li>
                    <li><input type="radio" class="answers" name="answer11">PROLOG</li>
                    <li><input type="radio" class="answers" name="answer11">C</li>
                    <li><input type="radio" class="answers" name="answer11">COBOL </li>
                </ul>   
        </li><br>
        <li>
                <p>Each block of a Blockchain consists of which of the following?</p>
                <ul>
                        <li><input type="radio" class="answers" name="answer12">A hash pointer to the previous block</li>
                        <li><input type="radio" class="answers" name="answer12">Timestamp</li>
                        <li><input type="radio" class="answers" name="answer12">List of transactions</li>
                        <li><input type="radio" class="answers" name="answer12">All of the above </li>
                </ul>
                 
        </li><br>
        <li>
                <p>A network service which translates domain names to IP addresses is called _________</p>
                <ul>
                <li><input type="radio" class="answers" name="answer13">DNS</li>
                <li><input type="radio" class="answers" name="answer13">HTTP</li>
                <li><input type="radio" class="answers" name="answer13">NOS</li>
                <li><input type="radio" class="answers" name="answer13">CDN</li>
                </ul>  
        </li><br>
        <li>
                <p>In cryptography, what is a cipher?</p>
                <ul>
                <li><input type="radio" class="answers" name="answer14">algorithm for performing encryption and decryption</li>
                <li><input type="radio" class="answers" name="answer14">encrypted message</li>
                <li><input type="radio" class="answers" name="answer14">both algorithm for performing encryption and decryption and encrypted message</li>
                <li><input type="radio" class="answers" name="answer14">decrypted message</li>
            </ul>
        </li><br>
        <li>
                <p>FSSAI to develop an app to prevent food wastage in partnership with which company?</p>
                <ul>
                <li><input type="radio" class="answers" name="answer15">Google</li>
                <li><input type="radio" class="answers" name="answer15">Nasscom Foundation</li>
                <li><input type="radio" class="answers" name="answer15">Infosys</li>
                <li><input type="radio" class="answers" name="answer15">TCS</li>
                </ul>
        </li><br>
        <li>
                <p> Which one of the following is a cryptographic protocol used to secure HTTP connection?  </p>
                <ul>
                <li><input type="radio" class="answers" name="answer16">stream control transmission protocol (SCTP)</li>
                <li><input type="radio" class="answers" name="answer16">transport layer security (TLS)</li>
                <li><input type="radio" class="answers" name="answer16">explicit congestion notification</li>
                <li><input type="radio" class="answers" name="answer16">resource reservation protocol</li>
                </ul>
        </li><br>
        <li>
                <p> Which of the following is a valid difference between a Virus and a Spyware?</p>
                <ul>
                <li><input type="radio" class="answers" name="answer17">Spyware damages data and also steal sensitive private information</li>
                <li><input type="radio" class="answers" name="answer17">Virus damages data, Spyware steals sensitive private information</li>
                <li><input type="radio" class="answers" name="answer17">Spyware damages data, Virus steals sensitive private information</li>
                <li><input type="radio" class="answers" name="answer17">The virus damages data and also steal sensitive private information</li>
                </ul>
        </li><br>
        <li>
                <p>_______ is a network reliability issue</p>
                <ul>
                <li><input type="radio" class="answers" name="answer18">The number of users</li>
                <li><input type="radio" class="answers" name="answer18">The type of transmission medium</li>
                <li><input type="radio" class="answers" name="answer18">The frequency of failure</li>
                <li><input type="radio" class="answers" name="answer18">Unauthorized access </li>
                </ul>
        </li><br>
        <li>
                <p>Do firewalls help to prevent which of the following malware from propagating? </p>
                <ul>
                <li><input type="radio" class="answers" name="answer19">Encrypted viruses</li>
                <li><input type="radio" class="answers" name="answer19">Worms</li>
                <li><input type="radio" class="answers" name="answer19">Polymorphic viruses</li>
                <li><input type="radio" class="answers" name="answer19">Trojan viruses</li>
                </ul>
        </li><br>
        <li>
            <p>Computer circuits arrangement in case of binary system offers ...</p>
            <ul>
            <li><input type="radio" class="answers" name="answer20">Simple circuit design</li>
            <li><input type="radio" class="answers" name="answer20">System Complexity</li>
            <li><input type="radio" class="answers" name="answer20">Non Reliable System design</li>
            <li><input type="radio" class="answers" name="answer20">Fast processing</li>
            </ul>
        </li><br>
        <li>
            <p>Which programming languages are classified as low-level languages?</p>
            <ul>
            <li><input type="radio" class="answers" name="answer21">BASIC, COBOL, Fortran</li>
            <li><input type="radio" class="answers" name="answer21">Prolog</li>
            <li><input type="radio" class="answers" name="answer21">C, C++</li>
            <li><input type="radio" class="answers" name="answer21">Assembly languages</li>
            </ul>
        </li><br>
        <li>
            <p>World fastest supercomputer</p>
            <ul>
            <li><input type="radio" class="answers" name="answer22">Sunway TaihuLight (China)</li>
            <li><input type="radio" class="answers" name="answer22">Tianhe 2(China)</li>
            <li><input type="radio" class="answers" name="answer22">Titan (Tennessee, USA)</li>
            <li><input type="radio" class="answers" name="answer22">Sequoia(US)</li>
            </ul>
        </li><br>
        <li>
            <p>Pubg is made on which game engine?</p>
            <ul>
            <li><input type="radio" class="answers" name="answer23">GameMakerStudio</li>
            <li><input type="radio" class="answers" name="answer23">Unreal Engine 4</li>
            <li><input type="radio" class="answers" name="answer23">Tencent HomenEngine</li>
            <li><input type="radio" class="answers" name="answer23">Unity</li>
            </ul>
        </li><br>
        <li>
            <p>Give the output of the following c program?     

                       <br> #include<stdio.h> </br>
                          <br>int main() </br>
                       <br> {  <br>
                           <br>int a=2;</br>
                          <br> int b=3;</br>
                           <br>int c= a+++++b*++a+++b;</br>
                           <br>printf("%d", c); </br>
                          <br> return 0; </br>
                                       <br> } </p> </br>
            <ul>
            <li><input type="radio" class="answers" name="answer24">20</li>
            <li><input type="radio" class="answers" name="answer24">23</li>
            <li><input type="radio" class="answers" name="answer24">19</li>
            <li><input type="radio" class="answers" name="answer24">24</li>
            </ul>
        </li><br>
          <li>
            <p>Which is a VFX software?</p>
            <ul>
            <li><input type="radio" class="answers" name="answer25">Nuke</li>
            <li><input type="radio" class="answers" name="answer25">Autodesk maya</li>
            <li><input type="radio" class="answers" name="answer25">Cinema 4D</li>
            <li><input type="radio" class="answers" name="answer25">ZBrush</li>
            </ul>
        </li><br>
          <li>
            <p>Specification which has little effect on the speed of a processor is </p>
            <ul>
            <li><input type="radio" class="answers" name="answer26">cache</li>
            <li><input type="radio" class="answers" name="answer26">system bus speed</li>
            <li><input type="radio" class="answers" name="answer26">clock speed</li>
            <li><input type="radio" class="answers" name="answer26">socket type</li>
            </ul>
        </li><br>
          
         

    </ol>
    
</body>
</html>











	


