<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .heading{
            color: white;
            background-color: black;
            padding-left: 20%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .contain{
            padding-left: 20%;
            padding-top: 5%;
            /*background-color: #cccccc; */
        }
        ul{
            list-style: none;
        }
        p{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body >
    <h1 class="heading">QUIZ ROUND- PRELIMS</h1>
    <ol  class="contain">
        <li><p>What is a node?</p>
            <ul>
                <li><input type="radio" class="answers">16 bits</li>
                <li><input type="radio" class="answers">32 bits</li>
                <li><input type="radio" class="answers">48 bits</li>
                <li><input type="radio" class="answers">64 bits</li>
            </ul>
        </li><br>

        <li>
                <p>Which of the following does not affect the resolution of a video display image? </p>
                <ul>
                    <li><input type="radio" class="answers">Vertical and horizontal lines of resolution</li>
                    <li><input type="radio" class="answers">Bandwidth</li>
                    <li><input type="radio" class="answers">Raster scan rage</li>
                    <li><input type="radio" class="answers">Screen size</li>
                </ul>
        </li><br>

        <li>
                <p>Which of the following is a class of computer threats?</p>
                <ul>
                    <li><input type="radio" class="answers">Phishing</li>
                    <li><input type="radio" class="answers">Soliciting</li>
                    <li><input type="radio" class="answers">DoS attacks</li>
                    <li><input type="radio" class="answers">Stalking</li>
                </ul>
        </li><br>

        <li>
                <p>What is cryptography? </p>
                <ul>
                    <li><input type="radio" class="answers">A technique for secure communication</li>
                    <li><input type="radio" class="answers">A technique used in bitcoin networking</li>
                    <li><input type="radio" class="answers">A technique for fast and slow communication</li>
                    <li><input type="radio" class="answers">A technique for back and forth communication</li>
                </ul>
        </li><br>

        <li>
                <p>Which of the following language is preferred for IoT analytics ?</p>
                <ul>
                    <li><input type="radio" class="answers">Python</li>
                    <li><input type="radio" class="answers">S</li>
                    <li><input type="radio" class="answers">R</li>
                    <li><input type="radio" class="answers">All of the mentioned</li>
                </ul>
        </li><br>

        <li>
                <p>Which of the following is the best graphics card among them?</p>
                <ul>
                    <li><input type="radio" class="answers">Nvidia GeForce RTX 2080 Ti</li>
                    <li><input type="radio" class="answers">AMD Radeon RX 570 4GB</li>
                    <li><input type="radio" class="answers">Nvidia GeForce RTX 2080 Super</li>
                    <li><input type="radio" class="answers">AMD Radeon VII</li>
                </ul> 
        </li><br>

        <li>
            <p>What is a tag used in HTML to link another web page consisting of some domain?</p>
            <ul>
                <li><input type="radio" class="answers">hr</li>
                <li><input type="radio" class="answers">form</li>
                <li><input type="radio" class="answers">hyperlink</li>
                <li><input type="radio" class="answers">href</li>
            </ul>
        </li><br>

        <li>
            <p>Which message delivery protocol does WhatsApp use?</p>
            <ul>
                <li><input type="radio" class="answers">XMPP</li>
                <li><input type="radio" class="answers">SMTP</li>
                <li><input type="radio" class="answers">TGPP</li>
                <li><input type="radio" class="answers">MIDP</li>
            </ul>
        </li><br>

        <li>
                <p>What is ransomware?</p>
                <ul>
                    <li><input type="radio" class="answers">nickname for types of spyware that require a password on boot</li>
                    <li><input type="radio" class="answers">Software that steals files from your computer and is used by blackmailers</li>
                    <li> <input type="radio" class="answers">A software that hijacks your computer and asks you to pay in order for it to be removed</li>
                    <li><input type="radio" class="answers">Viruses that infect files and won't let you open them unless you know a certain passcode</li>
                </ul>
        </li><br>
        <li>
                <p>Which is the first OOPS language? </p>
                <ul>
                    <li><input type="radio" class="answers">Scala</li>
                    <li><input type="radio" class="answers">Simula</li>
                    <li><input type="radio" class="answers">JAVA</li>
                    <li><input type="radio" class="answers">C++</li>
                </ul>
        </li><br>

        <li>
                <p>What does P2P stand for?</p>
                <ul>
                    <li><input type="radio" class="answers">Password to Password</li>
                    <li><input type="radio" class="answers">Peer to Peer</li>
                    <li><input type="radio" class="answers">Product to Product</li>
                    <li><input type="radio" class="answers">Private to Private</li>
                </ul>   
        </li><br>

        <li>
            <p>All of the following are examples of real security and privacy threats except:</p>
            <ul>
                <li><input type="radio" class="answers">Hackers</li>
                <li><input type="radio" class="answers">Virus</li>
                <li><input type="radio" class="answers">Spam</li>
                <li><input type="radio" class="answers">Worm </li>
            </ul>    
        </li><br>

        <li>
            <p>Which of the following cloud concept is related to pooling and sharing of resources?</p>
            <ul>
                <li><input type="radio" class="answers">Abstraction</li>
                <li><input type="radio" class="answers">Virtualization</li>
                <li><input type="radio" class="answers">Polymorphism</li>
                <li><input type="radio" class="answers">None of the mentioned</li>
            </ul>  
        </li><br>

        <li>
            <p>React is developed by ____________________?</p>
            <ul>
                <li><input type="radio" class="answers">Google</li>
                <li><input type="radio" class="answers">Adobe</li>
                <li><input type="radio" class="answers">Facebook</li>
                <li><input type="radio" class="answers">NVIDIA</li>
            </ul>
        </li><br>

        <li>
            <p>World fastest supercomputer:</p>
            <ul>
                <li><input type="radio" class="answers">AMD Radeon RX 570 4GB</li>
                <li><input type="radio" class="answers">Nvidia GeForce RTX 2080 Super</li>
                <li><input type="radio" class="answers">Nvidia GeForce RTX 2080 Ti</li>
                <li><input type="radio" class="answers">AMD Radeon VII</li>
            </ul>
        </li><br>

        <li>
            <p>Classification in AI is a part of which AI subgroup? </p>
            <ul>
                <li><input type="radio" class="answers">Expert System</li>
                <li><input type="radio" class="answers">Machine learning</li>
                <li><input type="radio" class="answers">Natural Language Processing</li>
                <li><input type="radio" class="answers">Robotics</li>
            </ul>
        </li><br>

        <li>
            <p>Who is considered to be the "father" of artificial intelligence who first coined the term 'AI'? </p>
            <ul>
                <li><input type="radio" class="answers">Allen Newell</li>
                <li><input type="radio" class="answers">Alan Turning</li>
                <li><input type="radio" class="answers">John McCarthy</li>
                <li><input type="radio" class="answers">Fisher Ada</li>
            </ul>
        </li><br>

        <li>
            <p>Which process is included in C compilation? </p>
            <ul>
                <li><input type="radio" class="answers">register allocation</li>
                <li><input type="radio" class="answers">Interpreter</li>
                <li><input type="radio" class="answers">Integration and generation</li>
                <li><input type="radio" class="answers">Assemble</li>
            </ul>
        </li><br>

        <li>
            <p>All of the following are examples of real security and privacy threats except:</p>
            <ul>
                <li><input type="radio" class="answers">Hackers</li>
                <li><input type="radio" class="answers">Virus</li>
                <li><input type="radio" class="answers">Spam</li>
                <li><input type="radio" class="answers">Worm</li>
            </ul>
        </li><br>

        <li>
            <p>Which is not the correct type of computer? </p>
            <ul>
                <li><input type="radio" class="answers">Mini Frame Compute</li>
                <li><input type="radio" class="answers">Workstations</li>
                <li><input type="radio" class="answers">Super Computer</li>
                <li><input type="radio" class="answers">Personal Computer</li>
            </ul>
        </li><br>

        <li>
            <p>What does LTE stand for:</p>
            <ul>
                <li><input type="radio" class="answers">Long Term Errors</li>
                <li><input type="radio" class="answers">Long Term Evolution</li>
                <li><input type="radio" class="answers">Lengthy Terminal Estimation</li>
                <li><input type="radio" class="answers">Long Term Estimates</li>
            </ul>
        </li><br>

        <li>
            <p>Which one is not an element of IoT?</p>
            <ul>
                <li><input type="radio" class="answers">People</li>
                <li><input type="radio" class="answers">Process</li>
                <li><input type="radio" class="answers">Security</li>
                <li><input type="radio" class="answers">Things</li>
            </ul>
        </li><br>

        <li>
            <p>______________ invented the term the ‘ internet of things ‘</p>
            <ul>
                <li><input type="radio" class="answers">Tim Berner’s Lee</li>
                <li><input type="radio" class="answers">Kevin Ashton</li>
                <li><input type="radio" class="answers">Steve jobs</li>
                <li><input type="radio" class="answers">Glen Macaughty</li>
            </ul>
        </li><br>

        <li>
            <p>What is the standardized name for javascript? </p>
            <ul>
                <li><input type="radio" class="answers">Vanilla Script</li>
                <li><input type="radio" class="answers">NodeJS</li>
                <li><input type="radio" class="answers">JQuery</li>
                <li><input type="radio" class="answers">ECMA Scripts</li>
            </ul>
        </li><br>

        <li>
            <p>Which programming language does Mozilla develop?</p>
            <ul>
                <li><input type="radio" class="answers">Swift</li>
                <li><input type="radio" class="answers">Go</li>
                <li><input type="radio" class="answers">Kotlin</li>
                <li><input type="radio" class="answers">Rust</li>
            </ul>
        </li><br>

        <li>
            <p>What is Secure Shell (SSH):</p>
            <ul>
                <li><input type="radio" class="answers">A router</li>
                <li><input type="radio" class="answers">A firewall</li>
                <li><input type="radio" class="answers">A network protocol</li>
                <li><input type="radio" class="answers">A python shell</li>
            </ul>
        </li><br>

        <li>
            <p>The characteristics of the computer system capable of thinking, reasoning, and learning are known is.</p>
            <ul>
                <li><input type="radio" class="answers">machine intelligence</li>
                <li><input type="radio" class="answers">human intelligence</li>
                <li><input type="radio" class="answers">artificial intelligence</li>
                <li><input type="radio" class="answers">Virtual intelligence</li>
            </ul>
        </li><br>

        <li>
            <p>Which option doesn’t satisfies the abstraction concept?</p>
            <ul>
                <li><input type="radio" class="answers">Driving a car</li>
                <li><input type="radio" class="answers">Working on a computer system</li>
                <li><input type="radio" class="answers">Reading a book</li>
                <li><input type="radio" class="answers">Human body</li>
            </ul>
        </li><br>

        <li>
            <p>Which programming language does Mozilla develop?</p>
            <ul>
                <li><input type="radio" class="answers">Swift</li>
                <li><input type="radio" class="answers">Go</li>
                <li><input type="radio" class="answers">Kotlin</li>
                <li><input type="radio" class="answers">Rust</li>
            </ul>
        </li><br>

        <li>
            <p>What is Secure Shell (SSH):</p>
            <ul>
                <li><input type="radio" class="answers">A router</li>
                <li><input type="radio" class="answers">A firewall</li>
                <li><input type="radio" class="answers">A network protocol</li>
                <li><input type="radio" class="answers">A python shell</li>
            </ul>
        </li><br>

    </ol>

    <div class="register2 space">
        <a href= "/quiz/final" role="button" class="btn btn-outline-primary">Move to final round</a>
    </div>
    
</body>
</html>











	


