<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .heading{
            color: white;
            background-color: black;
            padding-left: 20%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .contain{
            padding-left: 20%;
            padding-top: 5%;
            /*background-color: #cccccc; */
        }
        ul{
            list-style: none;
        }
        p{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body >
    <h1 class="heading">TECHNICAL QUIZ ROUND</h1>
    <ol  class="contain">
        <li><p>Of the following Indian satellites, which on is intended for long-distance telecommunications for transmitting TV programs?</p>
            <ul>
            <li><input type="checkbox" class="answers">Aryabhatta</li>
            <li><input type="checkbox" class="answers">INSAT – A</li>
            <li><input type="checkbox" class="answers">Rohini</li>
            <li><input type="checkbox" class="answers">Bhaskara</li>
            </ul>
        </li><br>
        <li>
                <p>What is the standard length of MAC address:</p>
                <ul>
                    <li><input type="checkbox" class="answers">16 bits</li>
                    <li><input type="checkbox" class="answers">32 bits</li>
                    <li><input type="checkbox" class="answers">48 bit</li>
                    <li><input type="checkbox" class="answers">64 bits</li>
                </ul>
        </li><br>
        <li>
                <p>A Denial of Service attack is:</p>
                <ul>
                    <li><input type="checkbox" class="answers">Connection flooding</li>
                    <li><input type="checkbox" class="answers">Bandwidth flooding</li>
                    <li><input type="checkbox" class="answers">All of the mentioned</li>
                    <li><input type="checkbox" class="answers">Vulnerability attack</li>
                </ul>
        </li><br>
        <li>
                <p>What does CDN stands for __________________? </p>
                <ul>
                    <li><input type="checkbox" class="answers">Call Delivery Network</li>
                    <li><input type="checkbox" class="answers">Computer Delay Network</li>
                    <li><input type="checkbox" class="answers">Call Delay Network</li>
                    <li><input type="checkbox" class="answers">Content Delivery Network</li>
                </ul>
        </li><br>
        <li>
                <p>Who was one of the winners of the Turing Award of 2019?</p>
                <ul>
                    <li><input type="checkbox" class="answers">Whitefield Diffie</li>
                    <li><input type="checkbox" class="answers">Peter Naur</li>
                    <li><input type="checkbox" class="answers">Ramanathan V Guha</li>
                    <li><input type="checkbox" class="answers">Geoffrey Hinton</li>
                </ul>
        </li><br>
        <li>
                <p>Select the correct output of the c program in the the16-bit operating system
 
                      <br> #include<stdio.h> </br>
                     <br> int main() </br>
              <br>  {   <br>
                        <br>   printf("%x", -1<<1);</br>
                          <br> getchar();  </br>
                          <br> return 0;    </br>
                                  <br>         }  </br>
</p>
                <ul>
                    <li><input type="checkbox" class="answers">fffe</li>
                    <li><input type="checkbox" class="answers">2</li>
                    <li><input type="checkbox" class="answers">-2</li>
                    <li><input type="checkbox" class="answers">Bbba</li>
                </ul> 
        </li><br>
        <li>
            <p>The performance of a supercomputer is measured in...</p>
            <ul>
                <li><input type="checkbox" class="answers">floating-point operations per second</li>
                <li><input type="checkbox" class="answers">million instructions per second</li>
                <li><input type="checkbox" class="answers">kilobits per second</li>
                <li><input type="checkbox" class="answers">megabits per second</li>
            </ul>
        </li><br>
        <li>
                <p>A service that concentrates on hardware follows the _________ as a Service model. </p>
                <ul>
                    <li><input type="checkbox" class="answers">IaaS</li>
                    <li><input type="checkbox" class="answers">CaaS</li>
                    <li><input type="checkbox" class="answers">PaaS</li>
                    <li><input type="checkbox" class="answers">SaaS</li>
                </ul>
                
                
                
                
        </li><br>
        <li>
                <p>What is the size of the Unicode character in the Windows Operating System?</p>
                <ul>
                    <li><input type="checkbox" class="answers">8-Bits</li>
                    <li><input type="checkbox" class="answers">16-Bits</li>
                    <li> <input type="checkbox" class="answers">32-Bits</li>
                    <li><input type="checkbox" class="answers">64 Bits</li>
                </ul>
        </li><br>
        <li>
                <p>Currently the fastest CPU in the world for a laptop ?</p>
                <ul>
                    <li><input type="checkbox" class="answers">AMD's Threadripper(TR) 2990WX</li>
                    <li><input type="checkbox" class="answers">Intel Core i9-9900KS</li>
                    <li><input type="checkbox" class="answers">AMD Ryzen 9 3900X</li>
                    <li><input type="checkbox" class="answers">Intel Pentium G4560</li>
                </ul>
          
        </li><br>
        <li>
                <p>Which of the following computer language is used for artificial intelligence?</p>
                <ul>
                    <li><input type="checkbox" class="answers">FORTRAN</li>
                    <li><input type="checkbox" class="answers">PROLOG</li>
                    <li><input type="checkbox" class="answers">C</li>
                    <li><input type="checkbox" class="answers">COBOL </li>
                </ul>   
        </li><br>
        <li>
                <p>Each block of a Blockchain consists of which of the following?</p>
                <ul>
                        <li><input type="checkbox" class="answers">A hash pointer to the previous block</li>
                        <li><input type="checkbox" class="answers">Timestamp</li>
                        <li><input type="checkbox" class="answers">List of transactions</li>
                        <li><input type="checkbox" class="answers">All of the above </li>
                </ul>
                 
        </li><br>
        <li>
                <p>A network service which translates domain names to IP addresses is called _________</p>
                <ul>
                <li><input type="checkbox" class="answers">DNS</li>
                <li><input type="checkbox" class="answers">HTTP</li>
                <li><input type="checkbox" class="answers">NOS</li>
                <li><input type="checkbox" class="answers">CDN</li>
                </ul>  
        </li><br>
        <li>
                <p>In cryptography, what is a cipher?</p>
                <ul>
                <li><input type="checkbox" class="answers">algorithm for performing encryption and decryption</li>
                <li><input type="checkbox" class="answers">encrypted message</li>
                <li><input type="checkbox" class="answers">both algorithm for performing encryption and decryption and encrypted message</li>
                <li><input type="checkbox" class="answers">decrypted message</li>
            </ul>
        </li><br>
        <li>
                <p>FSSAI to develop an app to prevent food wastage in partnership with which company?</p>
                <ul>
                <li><input type="checkbox" class="answers">Google</li>
                <li><input type="checkbox" class="answers">Nasscom Foundation</li>
                <li><input type="checkbox" class="answers">Infosys</li>
                <li><input type="checkbox" class="answers">TCS</li>
                </ul>
        </li><br>
        <li>
                <p> Which one of the following is a cryptographic protocol used to secure HTTP connection?  </p>
                <ul>
                <li><input type="checkbox" class="answers">stream control transmission protocol (SCTP)</li>
                <li><input type="checkbox" class="answers">transport layer security (TLS)</li>
                <li><input type="checkbox" class="answers">explicit congestion notification</li>
                <li><input type="checkbox" class="answers">resource reservation protocol</li>
                </ul>
        </li><br>
        <li>
                <p> Which of the following is a valid difference between a Virus and a Spyware?</p>
                <ul>
                <li><input type="checkbox" class="answers">Spyware damages data and also steal sensitive private information</li>
                <li><input type="checkbox" class="answers">Virus damages data, Spyware steals sensitive private information</li>
                <li><input type="checkbox" class="answers">Spyware damages data, Virus steals sensitive private information</li>
                <li><input type="checkbox" class="answers">The virus damages data and also steal sensitive private information</li>
                </ul>
        </li><br>
        <li>
                <p>_______ is a network reliability issue</p>
                <ul>
                <li><input type="checkbox" class="answers">The number of users</li>
                <li><input type="checkbox" class="answers">The type of transmission medium</li>
                <li><input type="checkbox" class="answers">The frequency of failure</li>
                <li><input type="checkbox" class="answers">Unauthorized access </li>
                </ul>
        </li><br>
        <li>
                <p>Do firewalls help to prevent which of the following malware from propagating? </p>
                <ul>
                <li><input type="checkbox" class="answers">Encrypted viruses</li>
                <li><input type="checkbox" class="answers">Worms</li>
                <li><input type="checkbox" class="answers">Polymorphic viruses</li>
                <li><input type="checkbox" class="answers">Trojan viruses</li>
                </ul>
        </li><br>
        <li>
            <p>Computer circuits arrangement in case of binary system offers ...</p>
            <ul>
            <li><input type="checkbox" class="answers">Simple circuit design</li>
            <li><input type="checkbox" class="answers">System Complexity</li>
            <li><input type="checkbox" class="answers">Non Reliable System design</li>
            <li><input type="checkbox" class="answers">Fast processing</li>
            </ul>
        </li><br>
        <li>
            <p>Which programming languages are classified as low-level languages?</p>
            <ul>
            <li><input type="checkbox" class="answers">BASIC, COBOL, Fortran</li>
            <li><input type="checkbox" class="answers">Prolog</li>
            <li><input type="checkbox" class="answers">C, C++</li>
            <li><input type="checkbox" class="answers">Assembly languages</li>
            </ul>
        </li><br>
        <li>
            <p>World fastest supercomputer</p>
            <ul>
            <li><input type="checkbox" class="answers">Sunway TaihuLight (China)</li>
            <li><input type="checkbox" class="answers">Tianhe 2(China)</li>
            <li><input type="checkbox" class="answers">Titan (Tennessee, USA)</li>
            <li><input type="checkbox" class="answers">Sequoia(US)</li>
            </ul>
        </li><br>
        <li>
            <p>Pubg is made on which game engine?</p>
            <ul>
            <li><input type="checkbox" class="answers">GameMakerStudio</li>
            <li><input type="checkbox" class="answers">Unreal Engine 4</li>
            <li><input type="checkbox" class="answers">Tencent HomenEngine</li>
            <li><input type="checkbox" class="answers">Unity</li>
            </ul>
        </li><br>
        <li>
            <p>Give the output of the following c program?     

                       <br> #include<stdio.h> </br>
                          <br>int main() </br>
                       <br> {  <br>
                           <br>int a=2;</br>
                          <br> int b=3;</br>
                           <br>int c= a+++++b*++a+++b;</br>
                           <br>printf("%d", c); </br>
                          <br> return 0; </br>
                                       <br> } </p> </br>
            <ul>
            <li><input type="checkbox" class="answers">20</li>
            <li><input type="checkbox" class="answers">23</li>
            <li><input type="checkbox" class="answers">19</li>
            <li><input type="checkbox" class="answers">24</li>
            </ul>
        </li><br>
          <li>
            <p>Which is a VFX software?</p>
            <ul>
            <li><input type="checkbox" class="answers">Nuke</li>
            <li><input type="checkbox" class="answers">Autodesk maya</li>
            <li><input type="checkbox" class="answers">Cinema 4D</li>
            <li><input type="checkbox" class="answers">ZBrush</li>
            </ul>
        </li><br>
          <li>
            <p>Specification which has little effect on the speed of a processor is </p>
            <ul>
            <li><input type="checkbox" class="answers">cache</li>
            <li><input type="checkbox" class="answers">system bus speed</li>
            <li><input type="checkbox" class="answers">clock speed</li>
            <li><input type="checkbox" class="answers">socket type</li>
            </ul>
        </li><br>
          
         

    </ol>
    
</body>
</html>











	


